<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册用户</title>
    <link rel='stylesheet' id='bootstrap-css' href="/static/vfy/css/bootstrap.min.css" type='text/css' media='all'/>
    <script src="/static/jquery/jquery1.9.1.min.js"></script>
    <script src="/static/vue/vue2.6.11.js"></script>
    <script src="/static/vue/axios0.19.2.min.js"></script>
    <script src="/static/vfy/js/bootstrap.min.js"></script>



</head>
<body style="heght:500px">
<div id = "app" >
    <div class="container" style="margin-left: 0px;">
        <h3>龙虎榜榜单数据 </h3>
        
     
         
         <div>
               <div>  
                        <div style="float:left"><input type="file" id="upfile" name="upfile" placeholder=""/>   </div>
                        <div><button type="button" v-on:click="importExp">导入</button></div>
                 </div>
               <div style="margin-top:20px">                                    
                                   <div style="float:left">
                                             <form action="/LongHuList/outToExcel_institutionalSeatTrack/" enctype="multipart/form-data"  method="post">		             
									             <input type="submit" value="导出龙虎榜机构席位跟踪">
						             </form>
                                   </div>
                                   
                                   <div style="float:left;margin-left:20px">                                           
						             <form action="/LongHuList/outToExcel_onListCount/" enctype="multipart/form-data"  method="post">		             
									             <input type="submit" value="导出上榜次数TOP10">				
						             </form>
                                   </div>
                                   
                                    <div style="float:left;margin-left:20px">                                           
						             <form action="/LongHuList/outToExcel_InstitutionalInflowTopTen/" enctype="multipart/form-data"  method="post">		     
						                          <input type="hidden" value="inflow" name="moveStyle">        
									             <input type="submit" value="机构流入前十名">				
						             </form>
                                   </div>
                                   
                                    <div style="float:left;margin-left:20px">                                           
							             <form action="/LongHuList/outToExcel_InstitutionalInflowTopTen/" enctype="multipart/form-data"  method="post">		     
							                          <input type="hidden" value="Efflux" name="moveStyle">        
										             <input type="submit" value="机构流出前十名">				
							             </form>
                                   </div>
                                   
                                   
                                   
                                  <div style="float:left;margin-left:20px">                                           
							             <form action="/LongHuList/outToExcel_lushenInflowTopTen/" enctype="multipart/form-data"  method="post">		     
							                          <input type="hidden" value="inflow" name="moveStyle">        
										             <input type="submit" value="沪（深）股通席位流入前十名">				
							             </form>
                                   </div>
                                   
                                    <div style="float:left;margin-left:20px">                                           
							             <form action="/LongHuList/outToExcel_lushenInflowTopTen/" enctype="multipart/form-data"  method="post">		     
							                          <input type="hidden" value="Efflux" name="moveStyle">        
										             <input type="submit" value="沪（深）股通席位流出前十名">				
							             </form>
                                   </div>
                           
						     
                 </div>

         </div>

        
        
        
          

  
		   <table class="table table-striped table-bordered table-hover">
		         <thead>
		           <tr class ="">
		              <th></th>
		              <th>证券代码</th>
		              <th>证券名称</th>
		                 <th>所属东财行业指数[行业类别]</th>	              
		              <th>龙虎榜买入额</th>
		              <th>龙虎榜卖出额</th>
		              <th>龙虎榜净额</th>
		              <th>机构席位龙虎榜买入额</th>
	                  <th>机构席位买入次数</th>
		              <th>机构席位龙虎榜卖出额</th>
		              <th>机构席位卖出次数</th> 
		              <th>机构席位龙虎榜净额</th>
		              <th>股票异动类型</th>   
		              <th>沪（深）股通席位龙虎榜买入额</th>     
		              <th>沪(深)股通席位龙虎榜卖出额</th>  		                   
		              <th>沪(深)股通席位龙虎榜净额</th>                    
		              <th>上榜次数（截止日2周前）</th>        
		              <th>龙虎榜买入额（截止日2周前）</th>     
		              <th>龙虎榜卖出额（截止日2周前）</th>   
		           </tr>
		         </thead>
		         <tbody>
		           <tr v-for="data in msg" v-bind:key="data.uipId" >
					 <td>[[data.uipId]]</td>
					   <td>[[data.securitiesCode]]</td>
		               <td>[[data.securitiesName]]</td>	
		                 <td>[[data.belongDongcai]]</td>			               		           
		                <td>[[data.longHuBuy]]</td>
		                <td>[[data.longHuSell]]</td>
		                <td>[[data.longHuNet]]</td>		                
		                  <td>[[data.institutionalSeatBuy]]</td>
		                  <td>[[data.institutionalSeatBuyCount]]</td>
		                  <td>[[data.institutionalSeatSell]]</td>		                  
		                  <td>[[data.institutionalSeatSellCount]]</td>
		                   <td>[[data.institutionalSeatNet]]</td>
		                   
		                    <td>[[data.securitiesAbnormalMove]]</td>
		                     <td>[[data.lushenSeatLonghuBuy]]</td>
		                      <td>[[data.lushenSeatLonghuSell]]</td>		                      
		                        <td>[[data.lushenSeatLonghuNet]]</td>
		                        
		                     <td>[[data.onListCountToTwoweeks]]</td>
		                    <td>[[data.longHuBuyToTwoweeks]]</td>
		                      <td>[[data.longHuSellToTwoweeks]]</td>
		                  
		           </tr>
		         </tbody>
		       </table>

             <div class="table-responsive">
		          <nav style="float: right">
		                  <ul class="pagination" style="margin: 5px 0 10px 0">
		
		                        <li :class="{disabled:linkurl.previous==null }" @click="prepage" >
		                                <span aria-hidden="true">&laquo;</span>
		                        </li>
		                           
		                        <li :class="{active:curpage==value}"  v-for="(value,key) in Math.ceil(count/100)" >
		                     
		                            <span @click="list(value)">[[value]]</span>
		                            
		                        </li>
		                        <li :class="{disabled:linkurl.next==null}"  @click="nextpage" >
		                                <span  aria-hidden="true">&raquo;</span>
		                        </li>
		                  </ul>
		          </nav>

      </div>
      
      
          
      
      
    </div>
</div>
</body>

<script>
    new Vue({
        delimiters :['[[',']]'],
        el: "#app",
        data: {
            msg : [],
            retmsg : null,
            uname : null,
            pswd : null,
            email : null,
            checkid: [],
            idindex: -1,
            linkurl : {},
            count : 0,
            result : [],
            clickon : false,
            curpage : 1
        },
        mounted:function(){
             this.viewlist("/longHuList/");
             
        },       
        methods:
            {
                doshow: function(id){

                    this.idindex = id;
                    for(var j = 0 ; j < this.msg.length; j++)
                    {
                        if (this.msg[j].id == id)
                        {
                            this.uname = this.msg[j].name;
                            this.pswd = this.msg[j].password;
                            this.email = this.msg[j].email;
                        }
                    }
                    if(this.checkid >=1)
                    {
                        this.checkid.shift();
                    }

                    /*setTimeout(function () {
                            var i = that.checkid[that.checkid.length -1];
                            that.idindex = i;

                            if(that.checkid.length > 1) {
                              that.checkid.shift()
                            }

                           // document.getElementById().checked = false;

                            for(var j = 0 ; j < that.msg.length; j++)
                            {
                                if (that.msg[j].id == i)
                                {
                                    that.uname = that.msg[j].name;
                                    that.pswd = that.msg[j].password;
                                    that.email = that.msg[j].email;
                                }
                            }
                    },5);

                     */

                },

                listrow(){
                    this.viewlist("/longHuList/");
                    
                },     

                viewlist(url) {
                    axios.get(url).then(respones=>{
                    this.msg = respones.data.results;
                    this.linkurl = respones.data.links;
                    this.count = respones.data.count;
                    console.log(this.linkurl.next);
                    })
                    .catch(function (error)
                    {
                        console.log(error);
                    })
                },
                 importExp() {
                            var formData = new FormData();
						        var name = $("#upfile").val();
						        formData.append("file", $("#upfile")[0].files[0]);
						        formData.append("name", name);
                      
             
                          $.ajax({
				            url: '/importExp/',
				            type: 'POST',
				            async: false,
				            data: formData,
				            // 告诉jQuery不要去处理发送的数据
				            processData: false,
				            // 告诉jQuery不要去设置Content-Type请求头
				            contentType: false,
				            beforeSend: function () {
				                console.log("正在进行，请稍候");
				            },
				            success: function (responseStr) {
				                if (responseStr != "0") {
				                    alert("导入成功" + responseStr + "条数据！");
				                } else {
				                    alert("导入失败");
				                }
				            }
				        });
                }
                
                ,
                nextpage(){

                    if (this.linkurl.next !== null){
                        var page = this.linkurl.next.substr(21);
                        console.log(page);
                        this.viewlist(page);

                        var  pnum = page.split("=");
                        if (pnum[1] !== undefined ) {
                            this.curpage = Number(pnum[1]);
                        }
                        else
                        {
                            this.curpage = 1;
                        }

                    }
                    else
                    {
                        alter("最后一页")
                    }

                },
                prepage(){
                    alert("prepage")
                    if (this.linkurl.previous !== null){
                        console.log(this.linkurl.previous)
                        var page = this.linkurl.previous.substr(21);
                        this.viewlist(page);

                        var  pnum = page.split("=");
                        if (pnum[1] !== undefined ) {
                            this.curpage = Number(pnum[1]);
                            console.log(this.curpage);
                        }
                        else
                        {
                            this.curpage = 1;
                        }
                    }
                    else
                    {
                        this.curpage = 1;
                        alter("最后一页")
                    }

                },
                list(val){
                    console.log(val);
                    this.viewlist('/longHuList/?page='+val);
                    this.curpage = Number(val);
                    console.log(this.curpage);
                }
            },
            created(){
            }


    })
</script>
<style>

</style>
</html>