/com/
/data.properties
/ehcache.xml
/jdbc.properties
/log4j.properties
/log4j.xml
/org/
/oss.properties
/redis.properties
/spring-config-acl.xml
/spring-config-base.xml
/spring-config-mvc.xml
/spring-config-redis.xml
