<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>安全设置</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/vfy/css/bootstrap.min.css">
    <script src="/static/jquery/jquery1.9.1.min.js"></script>
    <script src="/static/vfy/js/bootstrap.min.js"></script>
</head>
<body>
<!--//主体：左侧菜单+右侧内容-->
<main class="container">
    <!--//左侧菜单-->
    <!--//右侧内容-->
    <div class="col-sm-2"> </div>
    <div class="col-sm-9 pull-left">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">密码修改</div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="/systemUpdatePassword" id="updatePwdForm">
                <div class="form-group">
                            <label class="col-sm-4 text-right"><span class="text text-danger">＊</span>用户名：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="请输入用户名" id="userId" name="userId" onkeydown="return banInputSapce(event);" />
                                <span style="color:red">$!{userNameExist}</span>
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="col-sm-4 text-right"><span class="text text-danger">＊</span>请输入原密码：</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" placeholder="请输入原密码" name="checkPassword" id="checkPassword" onkeydown="return banInputSapce(event);" />
                        </div>
                    </div>
                    <div class="form-group">
                    <label class="col-sm-4 text-right"><span class="text text-danger">＊</span>输入新密码：</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" placeholder="6-20位字母、数字和符号" name="password" id="password" onkeydown="return banInputSapce(event);" />
                    </div>
                    <div class="col-sm-4">
                        <span ><input type="button" value="弱" id="r" class="btn pwd_gray" /></span>
                        <span ><input type="button" value="中" id="z" class="btn pwd_gray" /></span>
                        <span ><input type="button" value="强" id="q" class="btn pwd_gray" /></span>
                    </div>
                </div>
                    <div class="form-group">
                        <label class="col-sm-4 text-right"><span class="text text-danger">＊</span>再次输入新密码：</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" name="againPassword" placeholder="再次输入新密码" onkeydown="return banInputSapce(event);" />
                        </div>
                    </div>
                    <br />
                    #if($!{update_fail})
                        <div class="text-center text-danger">$!{update_fail}</div>
                    #end
                    <br />
                    <div class="form-group">
                        <label class="col-sm-4 text-right"></label>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-warning form-control"  >提交</button>
                        </div>
                    </div>
                    <br />
                    <br />
                </form>
            </div>
        </div>
    </div>
</main>
<!-- footer -->
<script src="/js/jquery.validate.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/form.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/validate/messages_zh.js"></script>
<script type="text/javascript" src="/js/userRegister/update_password.js"></script>
</body>

</html>